
body{background-color: black}

h1{color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:green;
}
    
li {
    float: left;
}
      
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
}
      
li a:hover:not(.active) {
    background-color: #112
}
      
.active {
    background-color: #c40404
}

th{color: azure;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
    
td{color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


img{float: right}

img#y {float: left}

h3{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

h1#A{text-align: center;
    color: #c40404}

td.Z{color: aliceblue;
        text-align: justify;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

button{
        background-color:red; /* red*/
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor:pointer
    }

p#w{color:black}

footer{text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding: 3px;
    background-color: gold;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;}








    